<a href="https://colab.research.google.com/github/tanvisht/DS-Bootcamp-Assignments/blob/main/DataScienceBootcamp_Week4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
All the code was developed on MySQL Workbench. Attaching the collab book for the reference.
--1.Pull total number of orders that were completed on 18th March 2023.
--Since order_id is primary key
SELECT COUNT(*) FROM SALES WHERE DATE='2023-03-18';

SyntaxError: invalid decimal literal (<ipython-input-5-72478a6813de>, line 1)

In [1]:
--2.Pull total number of orders that were completed on 18th March 2023 with the first name ‘John’ and last name Doe’.
SELECT COUNT(*) FROM SALES S
JOIN CUSTOMERS C ON S.CUSTOMER_ID=C.CUSTOMER_ID
WHERE C.FIRST_NAME='John' AND C.LAST_NAME='Doe';

In [2]:
--3.Pull total number of customers that purchased in January 2023 and the average amount spend per customer.
SELECT C.CUSTOMER_ID,C.FIRST_NAME,C.LAST_NAME,AVG(REVENUE) AS AVG_COST
FROM CUSTOMERS C JOIN SALES S ON C.CUSTOMER_ID=S.CUSTOMER_ID
WHERE DATE BETWEEN '2023-03-01' AND '2023-03-31'
GROUP BY C.CUSTOMER_ID;

SyntaxError: invalid decimal literal (<ipython-input-2-0bba3e60572d>, line 1)

In [3]:
--4.Pull the departments that generated less than $600 in 2022.
SELECT I.DEPARTMENT FROM ITEMS I
JOIN SALES S ON S.ITEM_ID=I.ITEM_ID
WHERE DATE BETWEEN '2022-01-01' AND '2022-12-31'
GROUP BY I.DEPARTMENT
HAVING SUM(REVENUE)>600;

SyntaxError: invalid decimal literal (<ipython-input-3-7b752a610577>, line 1)

In [4]:
--5.What is the most and least revenue we have generated by an order.
SELECT MAX(REVENUE) AS MAX_REVENUE,MIN(REVENUE) AS MIN_REVENUE
FROM SALES;

SyntaxError: invalid decimal literal (<ipython-input-4-7e19c8842338>, line 1)

In [ ]:
--6.What were the orders that were purchased in our most lucrative order.
SELECT * FROM SALES
WHERE REVENUE=(SELECT MAX(REVENUE) FROM SALES);